<!-- <%= simple_form_for [@listing, @rental] do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.button :submit %>
<% end %>
-->
<div data-controller="rental-price" data-rental-price-price-value="<%= listing.price %>" class="mt-5 border p-3 rounded">
  <p class='fw-bold fs-3'>¥<%= listing.price.round(0) %> <small class='fw-light'>per day</small></p>
  <%= simple_form_for [listing, @rental] do |f| %>
      <div class="d-flex">
        <!-- On change of dates, it triggers our update inside of our JS controller -->
        <%= f.input :start_date, as: :date, html5: true, input_html: { data: { rental_price_target: 'start_date', action: 'change->rental-price#update' }, min: Date.today } %>
        <%= f.input :end_date, as: :date, html5: true, input_html: { data: { rental_price_target: 'end_date', action: 'change->rental-price#update' }, min: Date.today } %>
      </div>
      <%= f.submit 'Book', class: 'btn btn-primary w-100' %>
      <!-- Hidden when no dates chosen, total amount displayed here when changed -->
      <p class='mt-3 d-flex align-items-center justify-content-between'>
        <span data-rental-price-target='info'></span>
        <span class='fw-bold' data-rental-price-target='price'></span>
      </p>
    <% end %>
</div>
