<div class="container">
  <h1 class="text-center">Video Games<h1>
  <ul class="cards list-group list-group-flush row row-cols-3">
    <% @games.each do |game| %>
    <% p game %>
      <li class="list-group-item col-12">
        <div class="card-product">
          <%= image_tag "https:#{game.cover}" %>
          <div class="card-product-infos">
            <h2><%= game.name %></h2>
            <p> <%= game.genres %></p>
            <p><strong> Rating: <%= (game.aggregate_rating).round(1) %></strong></p>
          </div>
          <%= link_to '', listing_path(game) , class: 'card-product-info-link' %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
