<div>
  <div class="show-container">
    <div class="card-listing">
      <div>
        <img src=<%= @listing.game.screenshots %> class="img-thumbnail" alt="game cover">
        <img src=<%= @listing.game.cover %> class="img-thumbnail" alt="game cover">
        <img src=<%= @listing.game.artworks %> class="img-thumbnail" alt="game cover">
      </div>
      <div>
        <h2><%= @listing.game.name %></h2>
        <p>Age rating: <%= @listing.game.age_rating %></p>
        <p>Game Rating: <%= (@listing.game.aggregate_rating).round(0) %></p>
        <p>Genres: <%= @listing.game.genres %></p>
        <p>Platforms: <%= @listing.game.platforms %></p>
        <p>Website  <a href="<%= @listing.game.website %>">link</a></p>
        <p>Summary: <%= @listing.game.summary %></p>
      </div>
    </div>
  </div>


  <div class="card-listing">
    <div>
      <h3>Seller Profile</h3>
          <%# <%= @listing.user_id.cla %>
      <p>name: <%= @listing.user.name %></p>
      <p>rating: <% (@listing.user.rating).times do %>
        <i class="fas fa-star"></i>
        <% end %>
        <% (5 - @listing.user.rating).times do %>
          <i class="far fa-star"></i>
        <% end %>
      <%# <p>Price: ¥<%= (@listing.price).round(1) / day</p> %>
      </p>
    </div>
    <div>
      <%= render 'listings/form' %>
    </div>
  </div>
</div>
