<div class="container">
  <h1 class="text-center">Rentals</h1>
  <main class="row row-cols-2">
    <div class="listings-container col-6">
      <h2 class="text-center">My Pending Listings</h2>
      <ul class="list-group">
        <% @listings.reverse.each do |listing| %>
          <li class="d-flex justify-content-between list-group-item">
            <div class="list-left">
              <%= listing.game.name %>
              <%= listing.price.round(2) %>
            </div>
            <div class="list-right">
              <%= form_with url: listing_path(listing), method: :delete, data: { turbo_confirm: "Are you sure you want to reject this listing?" } do %>
              <%= submit_tag 'Reject', class: 'btn btn-danger' %>
            <% end %>
              <%= form_with url: update_status_listing_path(listing), method: :patch, local: true do %>
                <%= hidden_field_tag :status, 'approved' %>
                <%= submit_tag 'Accept', class: 'btn btn-success' %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="rentals-container col-6">
      <h2 class="text-center">My Ongoing Rentals</h2>
      <ul class="list-group">
        <% @rentals.reverse.each do |rental| %>
          <li class="d-flex justify-content-between list-group-item">
            <div class="list-left">
              <strong>Due:</strong> <%= rental.end_date %>
              <strong>Total: ￥</strong> <%= rental.listing.price.round(2) %>
              <%= rental.status.capitalize %>
            </div>
            <div class="list-right">
              <%= link_to rental.listing.game.name, listing_path(rental.listing) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </main>
</div>
