<div class="container">
  <h1 class="text-center mb-4">Transactions</h1>
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center mb-3">Listings</h2>
      <ul class="list-group">
        <% @rentals_as_owner.each do |rental| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="list-left">
              <strong><%= rental.listing.game.name %></strong><br>
              <%= number_to_currency(rental.listing.price, unit: '¥', precision: 0) %>
            </div>
            <div class="list-right d-flex justify-content-end">
              <% if rental.pending? %>
                <%= simple_form_for rental.listing, method: :patch do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'approved' } %>
                  <%= f.submit 'Accept', class: 'btn btn-success btn-sm me-2' do %>
                    <i class="fa-solid fa-check"></i>
                  <% end %>
                <% end %>
                <%= simple_form_for rental.listing, method: :patch do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'rejected' } %>
                  <%= f.submit 'Reject', class: 'btn btn-danger btn-sm' %>
                <% end %>
              <% else %>
                <p class='bg-info text-white p-1 rounded mb-0'><%= rental.status %></p>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="text-center mb-3">Rentals</h2>
      <ul class="list-group">
        <% @rentals.reverse.each do |rental| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="list-left">
              <strong>Due:</strong> <%= rental.end_date.strftime('%Y-%m-%d') %><br>
              <strong>Rental days:</strong> <%= ((rental.end_date - rental.start_date).to_i) + 1 %><br>
              <strong>Total:</strong> <%= number_to_currency(((((rental.end_date - rental.start_date).to_i) + 1) * rental.listing.price), unit: '¥', precision: 0) %>
            </div>
            <div class="list-right">
              <%= link_to rental.listing.game.name, game_path(rental.listing.game) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
