<div class="container">
  <h1 class="text-center">Rentals</h1>
  <main class="row row-cols-2">
    <div class="listings-container col-6">
      <h2 class="text-center">My Pending Listings</h2>
      <ul class="list-group">
        <% @rentals.each do |rental| %>
          <li class="d-flex justify-content-between list-group-item">
            <div class="list-left">
              <%= rental.user.name %>
              <%= rental.user.rating %>
            </div>
            <div class="list-right">
              <%= link_to "Reject", rental_path(rental), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %>
              <%= link_to "Accept", rental_path(rental), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="rentals-container col-6">
      <h2 class="text-center">My Ongoing Rentals</h2>
      <ul class="list-group">
        <% @rentals.each do |rental| %>
          <li class="d-flex justify-content-between list-group-item">
            <div class="list-left">
              <%= rental.end_date %>
            </div>
            <div class="list-right">
              <%= link_to rental.listing.game.name, listing_path(rental.listing) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </main>
</div>
