<div>
  <div class="show-container">
    <div class="card-listing">
      <div>
        <%= image_tag @game.cover, class: "img-thumbnail", alt: "game cover" %>
      </div>
      <div>
        <h2><%= @game.name %></h2>
        <p>Age rating: <%= @game.age_rating %></p>
        <p>Game Rating: <%= (@game.aggregate_rating).round(0) %></p>
        <p>Genres: <%= @game.genres %></p>
        <p>Platforms: <%= @game.platforms %></p>
        <p>Website  <a href="<%= @game.website %>">link</a></p>
      </div>
    </div>
  </div>
  <div class="listing-container">
    <div>
      <h2>User Offers</h2>
      <%# <%= @listing.user_id.cla %>
      <div class="card-user">
        <% @game.listings.each do |listing| %>
          <div class="card-user-infos">
            <%# Show dummy name for new users %>
            <% if listing.user.rating? %>
              <h2><%= listing.user.name %></h2>
            <% else %>
              <h2><%= ['Doug Berkley', 'Matthew Davies', 'Noemi Ashizuka', 'Yann Klein', 'Trouni Tiet', 'Sylvain Pierre'].sample %></h2>
            <% end %>
            <%# Show rating in stars & show a default rating of 3 stars for new users %>
            <p>rating:</p>
              <% if listing.user.rating? %>
                <% listing.user.rating.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% (5 - listing.user.rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              <% else %>
                <% 3.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% 2.times do %>
                  <i class="far fa-star"></i>
                <% end %>
              <% end %>
          </div>

            <%# <p>Price: ¥<%= (@listing.price).round(1) / day</p> %>
            <div class="card">
              <div>
                <%= render 'listings/form', listing: listing %>
              </div>
            </div>
          </p>
        <% end %>
      </div>
      <%# <p>Price: ¥<%= (@listing.price).round(1) / day</p> %>
    </p>
  </div>
</div>
</div>
