 <div class="show-container">
    <%= image_tag @game.cover, class: "game-img", alt: "game cover" %>
    <div class="game-text-content">
      <div class="game-info">
        <h1><%= @game.name %></h1>
          <p><span>Age Rating:</span> <%= @game.age_rating %></p>
          <p><span>Game Rating:</span> <%= (@game.aggregate_rating).round(0) %></p>
          <p><span>Genres:</span> <%= @game.genres %></p>
          <p><span>Platforms:</span> <%= @game.platforms %></p>
          <p><span>Website:</span> <a href="<%= @game.website %>">Official website</a></p>
      </div>
      <div class="game-description">
        <h2>Storyline</h2>
        <p><%= @game.storyline %></p>
        <h2>Summary</h2>
          <p><%= @game.summary %></p>
      </div>
<div class="user-offers">
  <div class="user-info">
    <h2>User Offers</h2>
      <div class="card-user">
        <% @game.listings.each do |listing| %>
          <% if listing.user.rating? %>
            <h3><%= listing.user.name %></h3>
          <% else %>
            <h3><%= ['Doug Berkley', 'Matthew Davies', 'Noemi Ashizuka', 'Yann Klein', 'Trouni Tiet', 'Sylvain Pierre'].sample %></h3>
          <% end %>
          <p>rating:
            <% if listing.user.rating? %>
              <% listing.user.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - listing.user.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            <% else %>
              <% 3.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% 2.times do %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
            <div class="booking-card">
              <div>
                <%= render 'listings/form', listing: listing %>
              </div>
            </div>
          </p>
        <% end %>
      </div>
    </p>
  </div>
  </div>
    </div>
  </div>
